

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 000, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 100, 0, 0;
  }
}

.container-fluid {
  background-color: black;
  min-height: 100vh; 
  background-size: 100% auto;
  background-repeat: repeat-y; 
  background-repeat: repeat-x; 
  width: 100.5%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: 
    rgb(var(--background-start-rgb));
}

.container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  justify-content: space-between; /* Añade espacio entre los elementos */
  color: white;
}

.main-container {
  display: flex;
}